
.header-landing {
    background-image: url(../../image/about/about-one.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-landing{
    width: 100%;
    overflow-x: hidden;
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
}

.main-landing__heading{
    grid-column: 1/13;
    grid-row: 1/2;
}

.main-landing__menu{
    grid-column: 1/13;
    grid-row: 2/3;
}

.main-landing__events{
    grid-column: 1/13;
    grid-row: 3/4;
}
.main-landing__final {
    grid-column: 1/13;
    grid-row-start: 4/4;
}
.heading-secondary h2 {
    margin-top: 4rem;
}
.paragraph-short p {
    margin-bottom: 7rem;
}
.paragraph-long p {
    margin-bottom: 7rem;
}

.main-landing__events p{
    margin-bottom: 4rem;
}
.main-landing__final img {
    margin-bottom: 4rem;
}

/* ===================================
CONTACT FORM
====================================== */

aside{
    width: 100%;
}

form{
    width: 31.5rem;
    margin: 0 auto;
}

form>*{
    box-sizing: border-box;
}

form>*:not(:last-child){
    width: 31.5rem;
    height: 3rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

form>input:not(:last-child){
    padding-left: 1rem;
}

textarea{
    height: 15rem !important;
}

/* ===================================
FOOTER
====================================== */

footer{
    margin: 5rem 0 3rem 0;
}

footer .some{
    text-align: center;
    margin-bottom: 2rem;
}

footer .some>*:not(:last-child){
    margin-right: 3rem;
}

footer .fab{
    color: #666;
}



footer .logo--footer{
    width: 29.3rem;
    height: auto;
    margin: 0 auto;
    margin-bottom: 1rem;
}

footer .contacts{
    width: 29.3rem;
    margin: 0 auto;
    text-align: left;
    font-size: 1.4rem;
}

footer .contacts a,
footer .contacts p{
    color: #666;
    text-decoration: none;
}