
.header-about {
    background-image: url(../../image/about/about-one.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.heading-primary{
    margin-top: 5rem !important;

}

.heading-primary h2{
    margin-top: 0;
    margin-bottom: 15px;
    color: #fff;
    font-size: 2.4rem;
    line-height: 3.4rem;
    text-transform: uppercase;
}