.header-landing{
    background-image: url(../../image/menu/autumn.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* ===================================
MAIN CONTENT - SPRING WINTER
==================================== */

.autumn-menu__content h2{
 margin-bottom: 0 !important;
}

.autumn-menu__content p{
    margin: 2rem 0 7rem 0;
}


.autumn-menu__menu .heading-secondary>p:not(:first-child):not(:last-child){
    margin-bottom: 0;
}



.autumn-menu__menu .price{
    font-weight: 600;
    margin: 6rem 0;
}