.header__navigation{
    position: relative;
    height: 3.5rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.main-landing{
    width: 100%;
    overflow-x: hidden;
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
}
.main-landing__heading{
    grid-column: 1/13;
    grid-row: 1/2;
}

.main-landing__menu{
    grid-column: 1/13;
    grid-row: 2/3;
}
.main-landing-photo {
   
}

.main-landing__photo img {
    margin-bottom: 7rem;
}
.paragraph-long p {
    margin-bottom: 7rem;
}
.heading-secondary h2 {
    margin-top: 4rem;
}