.header-events{
    background-image: url(../../image/events/wedding-main.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-content__first-section{
    height: 30rem;
    margin-bottom: 4rem !important;
}

.photo-wedding{
    height: 30rem;
    position: absolute;
    left: 0;
    top: 0;
}

.photo-wedding img,
.photo-confirmation img{
    width: 100%;
    height: 100%;
}

.photo-confirmation{
    height: 30rem;

    position: absolute;
    right: 100%;
    top: 0;
}

.event-move-right{
    left: 0 !important;
}

.event-move-left{
    left: -100% !important;
}

.header{
    margin-top: 30rem;
}

.arrow{
    position: absolute;
    z-index: 99;
}

.arrow-left{
    left: 0;
}
.arrow-right{
    right: 0;
}

.arrow-right,
.arrow-left{
    box-sizing: border-box;
    top: 45%;
    transform: translateY(-50%);
    color: #191c27;
    background-color: rgba(255, 255, 255, .3);
    padding: 3rem 2rem;
}


/* CODE FOR WEB VERSION ONLY */

.event__wedding,
.event__confirmation{
    display: none;
}
