/* ===================================
HEADER LANDING
==================================== */

.header-landing{
    background-image: url(../../image/hero_images/home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ===================================
LANDING PAGE MAIN CONTENT
====================================== */

.main-landing{
    width: 100%;
    overflow-x: hidden;
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
}

.main-landing__heading{
    grid-column: 1/13;
    grid-row: 1/2;
}

.main-landing__menu{
    grid-column: 1/13;
    grid-row: 2/3;
}

.main-landing__events{
    grid-column: 1/13;
    grid-row: 3/4;
}

.main-landing__heading,
.main-landing__menu,
.main-landing__events{
    margin-bottom: 6rem !important;
}
