/* ===================================
HEADER HERO IMAGE - MENU
==================================== */

.header-menu{
    background-image: url(../../image/menu/menu-main.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* ===================================
MAIN CONTENT - MENU
==================================== */

.main-menu{
    width: 100%;
}

.main__seasons{
    width: 32rem;
    
    margin: 0 auto;
    margin: 6rem auto 2rem auto;
    

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);

    grid-row-gap: 3.5rem;
}

.main__seasons img{
    width: 14rem;
    height: auto;
}

.main__seasons--winter,
.main__seasons--spring,
.main__seasons--summer,
.main__seasons--autumn{
    position: relative;
}

.overlay--winter,
.overlay--summer,
.overlay--spring,
.overlay--autumn{
    color: white;
    font-size: 2.4rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main__seasons--winter{
grid-column: 1/7;
grid-row: 1/2;
justify-self: start;
}



.overlay--winter{
    background-color:rgba(16, 159, 222, .5);
}

.main__seasons--spring{
    grid-column: 8/13;
    grid-row: 1/2;
    justify-self: end;
}

.overlay--spring{
    background-color:rgba(161, 230, 87, .5)
}

.main__seasons--summer{
    grid-column: 1/7;
    grid-row: 2/3;
    justify-self: start;
}

.overlay--summer{
    background-color:rgba(247, 232, 87, .5)
}

.main__seasons--autumn{
    grid-column: 8/13;
    grid-row: 2/3;
    justify-self: end;
}

.overlay--autumn{
    background-color:rgba(212, 105, 74, .5)
}

/* ========================
CODE FOR DESKTOP VERSION
============================*/

.main__seasons--winter .heading-secondary{
    display: none;
}

.main__season--spring-desktop,
.main__season--winter-desktop,
.main__season--summer-desktop,
.main__season--autumn-desktop{
    display: none;
}



/* ===================================
 INIDIVIDUAL MENU PAGES CODE 
==================================== */


/* INDIVIDUAL MENU PAGES MAIN CONTENT LAYOUT */

.seasonal-menu__content h2{
    margin-bottom: 0 !important;
   }
   
   .seasonal-menu__content p{
       margin: 1.5rem 0 8rem 0;
   }
   
   .seasonal-menu__menu p{
       margin-bottom: 5rem !important;
   }
   
   .seasonal-menu__menu .heading-secondary>p:not(:first-child):not(:last-child){
       margin-bottom: 0;
   }
   
   .seasonal-menu__menu .price{
       font-weight: 600;
       margin: 6rem 0;
   }


/* INDIVIDUAL PAGES LANDING IMAGE BACKGROUND PROPERTIES */

.header-winter,
.header-summer,
.header-autumn,
.header-spring{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* AUTUMN LANDING BACKGROUND */

.header-autumn{
    background-image: url(../../image/menu/autumn.jpg);
}

/* WINTER LANDING BACKGROUND */

.header-winter{
    background-image: url(../../image/menu/winter.jpg);
}

/* SPRING LANDING BACKGROUND */
.header-spring{
    background-image: url(../../image/menu/spring.jpg);
}

/* SUMMER LANDING BACKGROUND */

.header-summer{
    background-image: url(../../image/menu/summer.jpg);
}