.header-landing{
    background-image: url(../../image/menu/summer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* ===================================
MAIN CONTENT - SUMMER WINTER
==================================== */

.summer-menu__content h2{
 margin-bottom: 0 !important;
}

.summer-menu__content p{
    margin: 2rem 0 7rem 0;
}

.summer-menu__content img{
    width: 100%;
    height: 250px;
}

.summer-menu__menu .heading-secondary>p:not(:first-child):not(:last-child){
    margin-bottom: 0;
}



.summer-menu__menu .price{
    font-weight: 600;
    margin: 6rem 0;
}