/* 
COLORS

dark black - #191c27
light black - #666
red - #96192b

*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;  /* makes the REM to 10 px, based on the default browser settings*/
    scroll-behavior: smooth; 
}

body{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}



/* ===================================
HEADER
==================================== */

header{
    width: 100%;
    height: 50vh;
    box-sizing: border-box;
}

header .logo img{
    width: 23rem;
    color: #191c27;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
}

/* ===================================
HEADER LANDING
==================================== */

.header-landing{
    background-image: url(../image/hero_images/home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-landing__navigation{
    position: relative;
    height: 3.5rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.hamburger-menu{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.hamburger-menu>*:not(:last-child){
    margin-bottom: 5px;
}

.line{
    width: 2.7rem;
    height: 3px;
    border-radius: 2px;
    background-color: #191c27;
}

.header-heading{
    text-align: center;
}

/* ===================================
LANDING PAGE MAIN CONTENT
====================================== */

main{
    width: 100%;
    overflow-x: hidden;
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 500);
}

.main-landing__heading,
.main-landing__menu,
.main-landing__events{
    margin-bottom: 6rem !important;
}




