.heading-primary h1{
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
}

.heading-secondary,
.heading-tertiary {
    width: 32rem;
    margin: 0 auto;
    color: #fff;
}

.heading-secondary h2{
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 1.5rem;
    margin-top: 5rem;
}

.heading-tertiary h3{
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
}

.paragraph-short p{
    font-size: 1.6rem; /* to be changed to 1.8rem on Web Version*/
    line-height: 2.7rem;
    margin-bottom: 3rem;
    color: #e3e3e3;
}

.paragraph-long p{
    font-size: 1.6rem; /* to be changed to 1.8rem on Web Version*/
    line-height: 2.7rem; /* to be changed to 2.9rem on Web Version*/
    margin-bottom: 3rem;
    color: #e3e3e3;
}

.some span{
    font-size: 1.8rem;
    color: #e3e3e3;
    font-style: italic;
}
